* {
  font-family: "Roboto", sans-serif;
  color: white;
}
.navbar {
  background-color: rgba(33, 33, 33);
}
button:hover {
  background-color: #04d349;
  color: white;
}
button {
  transition: all 0.3s ease-in-out;
}
